.page-header {
  border-bottom: 1px solid #ececec;
  position: relative;
  height: 40px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.wraper-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-left: 40px;
  padding-right: 15px;
  background-color: #fff;
  overflow-y: scroll;
  transform: translateX(-100%);
  visibility: hidden;
  z-index: 999;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.wraper-menu.is-open {
  transform: translateX(0);
  visibility: visible;
}
.menu {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;

  &__item {
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 306px;
    }
  }
  &__link {
    letter-spacing: 0.02em;
    &:hover,
    &:focus {
      color: $primary-color;
    }
  }
  &--current {
    color: $primary-color;
  }
}

.header-contact {
  color: $text-accent-color;
  margin-bottom: 64px;
  &__item {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    &:first-child {
      font-size: 34px;
      line-height: 1.14;
      color: $primary-color;
      margin-bottom: 32px;
    }
  }
  &__link {
    letter-spacing: 0.02em;
    color: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $primary-color;
    }
  }
  &__icon {
    display: none;
  }
}
.btn-menu {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close {
  margin-left: auto;
  &::before,
  &::after {
    position: absolute;
    content: ' ';
    height: 18px;
    width: 2px;
    background-color: currentColor;
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
  &:hover,
  &:focus {
    color: $primary-color;
  }
}
