$primary-color: #2196f3;
$accent-color: #188ce8;
$text-primary-color: #212121;
$text-accent-color: #757575;
$icon-color: #afb1b8;
$background-color: #2f303a;
$background-accent-color: #f5f4fa;

$font-family: 'Roboto', sans-serif;
