.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $background-color;
  color: #fff;
  text-align: center;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__box,
  &__address {
    margin-bottom: 60px;
  }

  &__title {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}
.address {
  margin-top: 20px;
  font-style: inherit;
  line-height: 1.71;
}
.address-list {
  &__item {
    margin-bottom: 6px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    color: rgba(255, 255, 255, 0.6);

    &:hover,
    &:focus {
      color: $primary-color;
    }
  }
  &--white {
    color: #fff;
  }
}
